/* Style sheet for index, focus, spotify-playlists and search pages*/


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Circular Spotify Text', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .logo img {
    width: 130px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

.navigation {
    display: flex;
    flex-direction: row;

}

.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0deg);
}

.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    padding-bottom: 5px;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}

.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
}

.topbar .previous-next-buttons button {
    color: #7a7a7a;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    background-color: #090909;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 23px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}



/*PLAYLIST SECTION*/
body {
    background-color: #121212;
    font-family: 'Circular Spotify Text', sans-serif;
}

.sidebar1 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}

.sidebar1 .logo img {
    width: 130px;
}

.sidebar1 .navigation1 ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar1 .navigation1 ul li {
    padding: 10px 0px;
}

.sidebar1 .navigation1 ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar1 .navigation1 ul li a:hover,
.sidebar1 .navigation1 ul li a:active,
.sidebar1 .navigation1 ul li a:focus {
    color: #ffffff;
}



.sidebar1 .policies1 {
    position: absolute;
    bottom: 100px;
}

.sidebar1 .policies1 ul {
    padding-bottom: 5px;
}

.sidebar1 .policies1 ul li {
    padding-bottom: 5px;
}

.sidebar1 .policies1 ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar1 .policies1 ul li a:hover,
.sidebar1 .policies1 ul li a:active,
.sidebar1 .policies1 ul li a:focus {
    text-decoration: underline;
}

.main-container1 {
    margin-left: 245px;
    margin-bottom: 100px;
}

.topbar1 {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
}

.topbar1 .previous-next-buttons1 button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    background-color: #090909;
    margin-right: 10px;
}

.topbar1 .navbar1 {
    display: flex;
    align-items: center;
}

.topbar1 .navbar1 ul {
    list-style: none;
}

.topbar1 .navbar1 ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar1 .navbar1 ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar1 .navbar1 ul li a:hover,
.topbar1 .navbar1 ul li a:active,
.topbar1 .navbar1 ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar1 .navbar1 ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar1 .navbar1 button {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 23px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar1 .navbar1 button:hover,
.topbar1 .navbar1 button:active,
.topbar1 .navbar1 button:focus {
    background-color: #f2f2f2;
}

.spotify-playlists .show-more {
    margin-right: 10px;
    float: right;
}

.spotify-playlists .show-more a {
    color: #b3b3b3;
    font-size: 14px;
    text-decoration: none;
}

.spotify-playlists .show-more a:hover,
.spotify-playlists .show-more a:active,
.spotify-playlists .show-more a:focus {
    text-decoration: underline;
}

.spotify-playlists {
    padding: 20px 40px;
}

.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover {
    background-color: #252525;
}

.spotify-playlists .list .item a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.spotify-playlists .list .item a:hover,
.spotify-playlists .list .item a:active,
.spotify-playlists .list .item a:focus {
    color: #ffffff;
    font-size: 15px;
}

.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}


/* download section*/


.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
}


.logodownload img {
    width: 130px;
}

.topbar .navbardownload {
    display: flex;
    align-items: center;
}

.topbar .navbardownload ul {
    list-style: none;
}

.topbar .navbardownload ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbardownload ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbardownload ul li a:hover,
.topbar .navbardownload ul li a:active,
.topbar .navbardownload ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbardownload ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}



.dspotify {
    background-color: #19e68c;
    text-align: center;
    padding: 80px;

}

.dspotify .laptop {
    width: 150px;
    height: 150px;

}

.dspotify .ds {
    font-size: 50px;
    font-weight: 800;
}

.dspotify button {
    background-color: rgb(246, 247, 246);
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 14px 23px;
    border: 0px;
    border-radius: 40px;
}

.doptions {
    background-color: white;
    text-align: center;
    padding: 130px;
}

.davail {
    background-color: #222326;
    text-align: center;
    color: white;
    writing-mode: horizontal-tb;
    padding-bottom: 30px;
    padding-top: 30px;

}

.horizontal li {
    display: inline;
    padding-right: 40px;
    font-size: large;
    font-weight: bold;
}


#footer {
    background-color: black;
    color: grey;
    padding: 50px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

#footer li {
    list-style-type: none;
    line-height: 2;
}

#f1 {
    width: 200px;
}

#f1 img {
    width: 150px;
    height: auto;
}

#f2,
#f3,
#f4,
#f5,
#f6 {
    width: calc(20% - 20px);
    margin-top: 20px;
}

#f5 ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#f5 li {
    display: inline-block;
    margin-right: 10px;
}

#f5 li:last-child {
    margin-right: 0;
}

#f5 a {
    color: #fff;
}

#f5 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
}

#f5 img:hover {
    background-color: #19e68c;
}

#f6 {
    margin: 0 10px;
    float: left;
}

#f6 ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#f6 li a {
    margin-bottom: 10px;
    color: grey;
    font-size: smaller;
    padding: 0 20px;
}

#f7 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 50px 0 50px;
}

#f7 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#f7 li {
    margin-bottom: 0px;
}

#f2 a:link,
#f2 a:active,
#f2 a:visited,
#f3 a:link,
#f3 a:active,
#f3 a:visited,
#f4 a:link,
#f4 a:active,
#f4 a:visited {
    color: #fff;
    text-decoration: none;
}

#f6 a:link,
#f6 a:active,
#f6 a:visited {
    text-decoration: none;
}

#footer a:hover {
    color: #19e68c;
}


/* Adjust padding for even larger screens */
@media screen and (max-width: 900px) {
    #footer {
        display: block;
        flex-wrap: nowrap;
    }

    #f7 {
        position: unset;
        margin-top: 30px;
    }

    #f5 {
        margin-left: 50px;
        padding-left: 50px;
    }
}



/* PREMIUM SECTION*/
.maicontainern- .topbar .previous-next-buttons button {
    color: #7a7a7a;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    background-color: #090909;
    margin-right: 10px;
}
.search-bar input[type=text] {
    font-size: larger;
    background-image: url('./images/support/search.png');
    background-position: 15px 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 15px 55px;
    width: 350px;
    margin: 7px 0 20px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
}

.search-bar input[type=text]::placeholder {
    font-size: 15px;
}

.search-bar input[type=text]:focus{
    border: 4px solid black;
}
#section1 {
    background-color: #1d75de;
    color: white;
    text-align: left;
    padding: 100px;
    font-size: 25px;
    font-weight: 600;
}

#section1 button {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 40px 60px;
    border: 0px;
    border-radius: 70px;
    font-size: 25px;
}

.section2 {
    background-color: white;

    padding: 100px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.title {
    background-color: white;
    padding-top: 100px;
    text-align: center;
    font-size: 65px;
    font-weight: 800;


}


.section2 .dfree {
    padding: 90px;
    background-color: white;
    text-align: center;
}


.section2 .dfree img {
    width: 200px;
    margin-bottom: 10px;

}



.section2 .dfree h3 {
    color: #020202;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    text-align: center;
}

.section2 .dfree p {
    color: #0c0c0c;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.section3 {
    background-color: #EFEFEF;
    padding: 100px 20px;
    text-align: center;
}

.section3 h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
}

.plans {
    display: inline-table;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px 10px rgba(59, 52, 52, 0.1);
}


.plans h3 {
    font-size: 40px;
    margin-bottom: 5px;
}

.plans h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    background: #1d75de;
    padding: 10px;
    border-radius: 15px;
    height: 25px;
    width: 150px;
}

.plans p {
    font-size: 25px;

}

.plans ul {
    list-style-type: disc;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

.plans li {
    margin-bottom: 20px;
}

.btn {
    background-color: #1a1919;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
}

/*search page grid layout*/
.browser {
    color: rgb(255, 255, 255);
    padding: 300px;
    padding-top: 15px;
}

.searchbar {
    align-self: center;

}

.item-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    padding-top: 20px;
}

.item-container>div {
    font-size: 30px;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    text-align: left;
    background-image: url("websiteclone-spotify/images/personpic.jpeg");
}
/*for smaller screens*/
@media screen and (max-width: 1000px) {
    .item-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        padding-top: 20px;
    }

    .item-container>div {
        font-size: 30px;
        height: 230px;
        width: 230px;
        border-radius: 5%;
        text-align: left;
        background-image: url("websiteclone-spotify/images/personpic.jpeg");

    }
}

@media screen and (max-width: 768px) {
    .item-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        padding-top: 20px;
    }

    .item-container>div {
        font-size: 30px;
        height: 250px;
        width: 250px;
        border-radius: 5%;
        text-align: left;
        background-image: url("websiteclone-spotify/images/personpic.jpeg");

    }
}
@media screen and (max-width: 600px) {
    .item-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        padding-top: 20px;
    }

    .item-container>div {
        font-size: 30px;
        height: 260px;
        width: 256px;
        border-radius: 5%;
        text-align: left;
        background-image: url("websiteclone-spotify/images/personpic.jpeg");

    }
}

.listnumber1 {
    background-color: #8e5959;
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber2 {
    background-color: #833775;
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber3 {
    background-color: #5e1515;
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;


}

.istnumber4 {
    background-color: rgb(59, 224, 180);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;


}

.listnumber5 {
    background-color: rgb(190, 254, 121);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber6 {
    background-color: rgb(14, 86, 210);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber7 {
    background-color: rgb(75, 2, 73);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber8 {
    background-color: rgb(149, 101, 127);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber9 {
    background-color: rgb(156, 94, 74);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber10 {
    background-color: rgb(95, 75, 155);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber11 {
    background-color: rgb(84, 84, 4);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber12 {
    background-color: rgb(46, 160, 168);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber13 {
    background-color: rgb(44, 185, 121);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber14 {
    background-color: rgb(212, 27, 101);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber15 {
    background-color: rgb(54, 122, 23);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber16 {
    background-color: rgb(210, 169, 65);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber17 {
    background-color: rgb(124, 236, 120);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber18 {
    background-color: rgb(52, 147, 47);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber19 {
    background-color: rgb(100, 103, 161);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber20 {
    background-color: rgb(124, 31, 115);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber21 {
    background-color: rgb(107, 107, 19);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber22 {
    background-color: rgb(185, 185, 44);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber23 {
    background-color: rgb(151, 151, 94);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber24 {
    background-color: rgb(185, 185, 44);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber25 {
    background-color: rgb(163, 39, 39);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber26 {
    background-color: rgb(255, 131, 230);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber27 {
    background-color: rgb(87, 121, 255);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber28 {
    background-color: rgb(127, 81, 147);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;


}

.listnumber29 {
    background-color: rgb(123, 231, 229);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber30 {
    background-color: rgb(147, 147, 94);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber31 {
    background-color: rgb(200, 114, 60);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber32 {
    background-color: rgb(68, 166, 211);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber33 {
    background-color: rgb(207, 207, 105);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber34 {
    background-color: rgb(96, 238, 132);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.listnumber35 {
    background-color: rgb(88, 69, 211);
    background-image: url("./images/playlists/kendrick lamar.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}