* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Circular Spotify Text', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .logo img {
    width: 130px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

/* styling for fa remaining */

.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    padding-bottom: 5px;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}

.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
}

.topbar .previous-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    background-color: #090909;
    margin-right: 10px;
}

.main-container .searchbar input[type=text] {
    font-size: larger;
    background-image: url('./images/support/search.png');
    background-position: 15px 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 15px 55px;
    width: 50%;
    margin: 7px 0 20px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 23px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}


.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.payment-help {
    background-image: url('./images/support/payment help.png');
}

.plan-help {
    background-image: url('./images/support/plan help.png');
}

.application-help {
    background-image: url('./images/support/app help.png');
}

.device-help {
    background-image: url('./images/support/device help.png');
}

.safety-and-privacy {
    background-image: url('./images/support/safety and privacy.png');
}

.account-help {
    background-image: url('./images/support/account help.png');
}

.item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10% 10px 30px 10%;
    color: #fff;
    text-align: left;
    text-decoration: none;
    font-size: 120%;
    font-weight: bolder;
}

.main2 {
    background-color: rgb(27, 26, 26);
    margin: 0;
    padding: 30px;
    color: white;
}

.section2 {
    width: 700px;
    margin: 30px auto;
    color: white;
    text-align: center;
}

.section2 {
    padding: 0 10px;
}

/* Adjusted padding for larger screens */
@media screen and (min-width: 768px) {
    .section2 {
        padding: 0 40px;
    }
}

/* Adjusted padding for even larger screens */
@media screen and (min-width: 1024px) {
    .section2 {
        padding: 0 60px;
        margin-bottom: 0;
    }
}

#footer {
    color: white;
    padding: 50px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

#footer li {
    list-style-type: none;
    line-height: 2;
}

#f1,
#f2,
#f3,
#f4 {
    width: calc(20% - 20px);
    margin-top: 20px;
}

#f4 ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#f4 li {
    display: inline-block;
    margin-right: 10px;
}

#f4 li:last-child {
    margin-right: 0;
}

#f4 a {
    color: #fff;
}

#f4 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
}

#f4 img:hover {
    background-color: rgb(30, 248, 6);
}

#f2 a:link,
#f2 a:active,
#f2 a:visited,
#f3 a:link,
#f3 a:active,
#f3 a:visited,
#f1 a:link,
#f1 a:active,
#f1 a:visited {
    color: grey;
    text-decoration: none;
}

#footer a:hover {
    color: rgb(30, 248, 6);
}


/* Adjust padding for even larger screens */
@media screen and (max-width: 900px) {
    #footer {
        display: block;
        flex-wrap: nowrap;
    }

    #f5 {
        margin-left: 50px;
        padding-left: 50px;
    }
}